<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>首页_杨铭森个人日记</title>
    <meta name="keywords" content="杨铭森的个人日记,yangmingsen,首页" />
    <meta name="description" content="yangmingsen个人日记首页,分享知识,分享生活,与时俱进,共同成长" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/base.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/m.css" rel="stylesheet">
    <link href="css/add.css" rel="stylesheet">

    <!--    angularJs-->
    <script src="plugins/angularjs/angular.min.js"></script>
    <script src="./js/base.js"></script>
    <script src="./js/service/indexService.js"></script>
    <script src="./js/controller/indexController.js"></script>
    <script src="./js/controller/publicController.js"></script>

    <script src="./js/js/scrollReveal.js"></script>
    <script src="./js/js/jquery.min.js" ></script>
    <script src="./js/js/jquery.easyfader.min.js"></script>
    <script src="./js/js/hc-sticky.js"></script>
    <script src="./js/js/comm.js"></script>
    <!--[if lt IE 9]>
    <script src="./js/js/modernizr.js"></script>
    <![endif]-->
</head>
<body ng-app="blogFront" ng-controller="indexController" ng-init="findAll()">
<header class="header-navigation" id="header">
    <nav>
        <div class="logo"><a href="#">世界,Sky</a></div>
        <h2 id="mnavh"><span class="navicon"></span></h2>
        <ul id="starlist">
            <li><a href="index.html">首页</a></li>
            <li><a href="list.html">文章</a></li>
            <li><a href="share.html">相册</a></li>
            <li><a href="about.html">我嘛</a></li>
            <li><a href="time.html">时间轴</a></li>
        </ul>
        <div ng-controller="publicController" class="searchbox">
            <div id="search_bar123" class="search_bar">
                <input ng-model="keywords" ng-keyup="enterEvent($event)" class="input" placeholder="想搜点什么呢.." type="text" name="keyboard12" id="keyboard12">
                <p class="search_ico"> <span></span></p>
            </div>
        </div>
    </nav>
</header>
<article>
    <!--banner begin-->
    <div class="banner">
        <div id="banner" class="fader">
            <li class="slide" ><a href="#" target="_blank"><img src="images/1.jpg"><span class="imginfo">个人日记，属于我的小世界！</span></a></li>
            <li class="slide" ><a href="#" target="_blank"><img src="images/2.jpg"><span class="imginfo">个人日记，属于我的小世界！</span></a></li>
            <li class="slide" ><a href="#" target="_blank"><img src="images/3.jpg"><span class="imginfo">个人日记，属于我的小世界！</span></a></li>
            <div class="fader_controls">
                <div class="page prev" data-target="prev">&lsaquo;</div>
                <div class="page next" data-target="next">&rsaquo;</div>
                <ul class="pager_list">
                </ul>
            </div>
        </div>
    </div>
    <!--banner end-->
    <div class="toppic">
        <li> <a href="/" target="_blank"> <i><img src="images/1.jpg"></i>
            <h2>安静地look the world</h2>
            <span>学无止境</span> </a> </li>
        <li> <a href="/" target="_blank"> <i><img src="images/2.jpg"></i>
            <h2>个人日记，属于我的小世界！</h2>
            <span>学无止境</span> </a> </li>
    </div>
    <main>
        <div class="pics">
            <ul>
                <li><i><a href="/news/life/2018-06-17/873.html" target="_blank"><img src="images/p1.jpg"></a></i><span>安静地爱技术</span></li>
                <li><i><a href="/news/life/2018-04-27/816.html" target="_blank"><img src="images/p2.jpg"></a></i><span>个人日记，属于我的小世界！</span></li>
                <li><i><a href="/jstt/bj/2015-01-09/740.html" target="_blank"><img src="images/p3.jpg"></a></i><span>【匆匆那些年】总结个人日记经历的这四年…</span></li>
            </ul>
        </div>

        <div class="blogtab">
            <ul id="blogtab">
                <li ng-click="findAllByCategory(0)" class="current">最新文章</li>
                <li ng-click="findAllByCategory(1)">技术文章</li>
                <li ng-click="findAllByCategory(2)">生活文章</li>
                <li ng-click="findAllByCategory(3)">心理文章</li>
                <li ng-click="findAllByCategory(4)">团队协作</li>
                <li ng-click="findAllByCategory(5)">看点经济</li>
            </ul>
            <div class="blogs" data-scroll-reveal="enter bottom over 1s" ng-repeat="art in list.articles" >
                <h3 class="blogtitle"><a href="./info.html#?id={{art.id}}" target="_blank">{{art.title}}</a></h3>
                <p class="blogtext">{{art.abstractContent}} </p>
                <div class="bloginfo">
                    <ul>
                        <li class="author"><a href="/">{{list.nickName}}</a></li>
                        <li class="lmname"><a href="/">{{art.categoryName}}</a></li>
                        <li class="timer">{{art.updateTime}}</li>
                        <li class="view"><span>{{art.browseNum}}</span>已阅读</li>
                        <li class="like">{{art.likeNum}}</li>
                    </ul>
                </div>
            </div>

            <!--      <div class="blog-content">-->
            <!--      </div>-->
        </div>
    </main>
    <aside class="r_box" >
        <div class="about_me">
            <h2>博主简介</h2>
            <ul>
                <i><img src="images/favor1.jpg"></i>
                <p><b>{{list.nickName}}</b>，春风轻吹点点火花衬月夜

                    人人开开心心说说故事

                    终于倾出这小子的往事

                    长年累月为你怎再自持

                    今宵知否对你的暗示

                    为何真的将它当故事

                    偏偏痴心小子只知道上集</p>
            </ul>
        </div>
        <div class="cloud">
            <h2>我的标签</h2>
            <ul>
                <a href="./list.html#?tagId={{tag.id}}" target="_self" ng-repeat="tag in list.tags">{{tag.tagName}}</a>
            </ul>
        </div>
        <div class="fenlei">
            <h2>文章分类</h2>
            <ul>
                <li ng-repeat="category in list.categorys"><a href="./list.html#?categoryId={{category.id}}" target="_self">{{category.categoryName}}</a></li>
            </ul>
        </div>
        <div class="tuijian">
            <h2 id="tab"><a href="#"class="current">活动公告</a><a href="#">点击排行</a><a href="#">站长推荐</a></h2>

            <div id="notice-content">
                <ul style="display:block;">
                    <li><a href="/">第二届 优秀个人日记模板比赛参选活动</a></li>
                    <li><a href="/">【活动作品】柠檬绿兔小白个人日记模板</a></li>
                    <li><a href="/">帝国cms 列表页调用子栏目，没有则不显示栏目名称</a></li>
                    <li><a href="/">2014年度优秀个人日记评选活动</a></li>
                    <li><a href="/">你是什么人便会遇上什么人</a></li>
                    <li><a href="/">帝国cms 列表页调用子栏目，没有则不显示栏目名称</a></li>
                    <li><a href="/">第二届 优秀个人日记模板比赛参选活动</a></li>
                    <li><a href="/">个人日记模板《绅士》后台管理</a></li>
                </ul>
                <ul>
                    <li><a href="/">你是什么人便会遇上什么人</a></li>
                    <li><a href="/">帝国cms 列表页调用子栏目，没有则不显示栏目名称</a></li>
                    <li><a href="/">第二届 优秀个人日记模板比赛参选活动</a></li>
                    <li><a href="/">个人日记模板《绅士》后台管理</a></li>
                    <li><a href="/">你是什么人便会遇上什么人</a></li>
                    <li><a href="/">帝国cms 列表页调用子栏目，没有则不显示栏目名称</a></li>
                    <li><a href="/">第二届 优秀个人日记模板比赛参选活动</a></li>
                    <li><a href="/">黑色质感时间轴html5个人日记模板</a></li>
                </ul>
                <ul>
                    <li><a href="/">个人日记，我为什么要用帝国cms？</a></li>
                    <li><a href="/">D设计师日记-一个热爱生活的设计师</a></li>
                    <li><a href="/">东轩日记，我看到了你的坚持！</a></li>
                    <li><a href="/">程序员创业，就得“豁得出去”！</a></li>
                    <li><a href="/">张建华 一个90后年轻站长！我们是对手亦是朋友！</a></li>
                    <li><a href="/">《奋斗电商》看知名微商如何做日记引流？</a></li>
                    <li><a href="/">《寻之旅》一个关于旅游，游记的个人日记</a></li>
                    <li><a href="/">【匆匆那些年】总结个人日记经历的这四年</a></li>
                </ul>
            </div>
        </div>
        <div class="guanzhu">
            <h2>关注我 么么哒</h2>
            <ul>
                <img src="images/wx.jpg">
            </ul>
        </div>

    </aside>
</article>
<footer>
    <p>Design by <a href="##" target="_blank">杨铭森个人日记</a> <a href="/">蜀ICP备11002373号-1</a><a href="/" class="links">友情链接</a></p>
</footer>
<a href="#" class="cd-top">Top</a>
</body>
</html>